@import url('resetCss.css');

:root {
    --link-text: "Roboto", sans-serif;
    --heading-font-family: "Raleway", sans-serif;
    --link-background-color: #ffffff;
    --link-hover-color: #2196F3;
    --link-title-color: #212121;
    --link-paragraph-contacts-color: #757575;
    --link-logo-text: "Raleway", sans-serif;
    --btn-primary-bg-color: #2196F3;
    --btn-primary-color: #fff;
}

body {
    font-family: var(--link-text);
}

/* tag zone */




h2 {

}

h3 {

}


h5 {

}

p {

}

a {

}

/* Studio */

/* Buttons */
.btn-primary {
    color: var(--btn-primary-color);
    box-sizing: border-box;
    min-width: 200px;
    padding: 10px 5px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid transparent;
    background: var(--btn-primary-bg-color);
    text-align: center;
    line-height: 28px;
}

/* general */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto
}


/* header section */
.header-container {
    max-width: 1200px;
    width: 100%;
    border-bottom: 1px solid #ececec;
    height: 80px;
}

.header-container {
    border-bottom: 1px solid #ececec;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.text-blue,
.text-black,
.text-white {
   font-family: var(--link-text);
}

.top-logo {
    text-decoration: none;
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 30.52px;
    margin-right: 50px;
}

.text-blue {
    color: blue;

}

.text-black {
    color: black;
}

nav li a {
    color: black;

}

nav li a:hover {
    color: blue;
}

.main-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0px;
}
.main-navigation {
    color: var(--link-hover-color);
    font-family: var(--link-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-decoration: none;
}

.main-navigation ul li+li {
    margin-left: 30px;
}

.top-contact {
    color: var(--link-hover-color);
    font-family: var(--link-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 2%;
}

.banner-section {
    height: 600px;
    background-color: #2F303A;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner-section h1 {
  font-family: var(--link-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  font-size: 40px;
  color: var(--link-background-color);
  margin-bottom: 50px;
  width: 600px;
}
.group-container{
    padding: 94px 0;
}

.text-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.text-container li {
    padding-right: 174px;
    margin-right: -134px;
}

.text-container li:last-child {
    padding-right: 0;
}

.text-container h5 {
    font-family: var(--link-text);
    font-weight: 700;
    color: var(--link-title-color);
    margin-bottom: 15px;
}

p {
    font-family: var(--link-text);
    font-weight: 400;
    line-height: 1.3;
    color: var(--link-paragraph-contacts-color);
}

.header-container>nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-container {
    border-bottom: 1px solid #ececec;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.mail {
    color: #2196F3;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

.comercial-container {
    width: 1170px;
    height: 386px;
    padding-top: 94px;
    padding-left: 215px;
}

h2 {
    font-family: var(--link-text);
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    padding-left: 57px;
    line-height: 42.19px;
    margin-left: 75px;
}

h5 {
    /* to be defined */
}

.img-container  {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}


/* general */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto
}



/* Portofolio */
.text-blue,
.text-white,
.text-black {
    font-family: var(--link-text);
}

.text-blue {
    color: #2196F3;

}

.text-black {
    color:#000000;
}

.text-white {
    color: #fff;
}

.top-logo {
    text-decoration: none;
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 30.52px;
    margin-right: 50px;
}

.nav-container  {
    color: var(--link-hover-color);
    font-family: var(--link-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-decoration: none;
    
}

.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0px;
}

.nav-container ul li + li{
    margin-left: 30px;
}

a {
    color:#0060b6;
    text-decoration: none;
}

.nav-contact {
    color: var(--link-hover-color);
    font-family: var(--link-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 2%;
}

.header-container {
    border-bottom: 1px solid #ececec;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}
       
.header-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* main section */
.main-block {
    box-sizing: border-box;
}

.products-container {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
}


.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--link-background-color);
    cursor: pointer;
    border: none;
    list-style: none;
}

.filters li {
    margin-inline: 3px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.filters li:hover {
    background-color: var(--link-hover-color);
}

.filters li a:hover {
    color: var(--link-background-color);
}

.filters a {
    color: var(--link-title-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    padding: 5px 10px;  
}

.products-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.products-list li {
    border: 1px solid #eee;
    margin-bottom: 30px;
}

.products-list li > div {
    padding: 20px 24px;
}

.products-list li h3 {
   color: var(--link-title-color); 
   font-size: 18px;
   font-style: var(--link-text);
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 1.08px;
}

.products-list li p {
   color: var(--link-paragraph-contacts-color);
   font-size: 16px;
   font-style: var(--link-text);
   font-weight: 400;
   line-height: 30px;
   letter-spacing: 0.48px;
}

/* **********
   footer
************* */

footer {
    background: #2F303A;
    padding: 60px 0;
}

.footer-container address,
.footer-container a  {
   color: #fff;
}

.footer-container a {
   opacity: 60%;
} 
.footer-container address,
.footer-container p  {
  margin-top: 5px;
  margin-bottom: 10px;
}

.logo-container {
   margin-bottom: 25px;
}